.container{
    display: flex;
    flex-direction: column;
    max-width: 35vw
}

.textCenter{
    text-align: center;
}

.flexIngredientContainer{
    display: flex;
   
}

.imageColumn{
    width: 20%;
}

.textColumn{
    width: 69%;
}

.priceColumn{
    width: 10%;
}