.sidebar{
  max-height: 912px;
  max-width: 600px;
  grid-area:'sidebar';
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.scroller {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  overflow-y: auto;
  max-height: 912px;
}
  