
.ingredientForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .detailsField {
    display: flex;
    flex-direction: row;
  }
  
  .detailsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
  }