.defaultConstructorDivElement{
    padding: 16px 24px;
    background: #2f2f37;
    border-radius: 40px;
    width: 100%;
    min-height: 80px;
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
    box-sizing: border-box;
    align-items: center;
    vertical-align: middle;
    display: flex;
}

.defaultConstructorSpanElement{
    padding: 16px 24px;
    width: 300px;
}

.defaultConstructorDivBun{
    padding: 16px 24px;
    background: #2f2f37;
    border-radius:  88px 88px 40px 40px;;
    width: 100%;
    min-height: 80px;
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
    box-sizing: border-box;
    align-items: center;
    vertical-align: middle;
    display: flex;
}

.defaultConstructorSpanBun{
    padding: 16px 24px;
    text-align: center;
}