.mainIngredientsSection {
  width: 100%;
}

.mainContainer {
  margin-right: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  min-width: 600px;
}

.scroller {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  max-height: 912px;
  max-width: 640px;
}

.tabs {
  display: flex
}

.ingredientForm {
  margin: 5px;
  padding: 10px;
  width: 250px;
  height: 250px;
  position: sticky;
  cursor: grab;
}

.textCenteror {
  text-align: center;
}