.header {
    height: 100px;
    width: 100%;
    display: flex;
    background-color: #282c34;
    color: white;
  }  
 
  .headWraper {
    width: 70%;
    height: 100%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  .icon {
    display: inline-flex;
  }
 